<ac-layer acFor="let plane of largeAmountEntities$" [context]="this" [store]="true">
  <ac-billboard-primitive-desc  props="{
                    image: plane.image,
                    position: plane.bbPosition,
                    distanceDisplayCondition: plane.distanceDisplayConditionBb,
                    color: isEntityPicked(plane),
                    scale: plane.scale
                  }">
  </ac-billboard-primitive-desc>
  <!--<ac-label-desc props="{-->
  <!--position: plane.bbPosition,-->
  <!--text: plane.name-->
  <!--}">-->
  <!--</ac-label-desc>-->
  <ac-point-primitive-desc  props="{
    position: plane.pointPosition,
   color: isEntityPicked(plane),
    pixelSize: plane.pixelSize,
    distanceDisplayCondition: plane.distanceDisplayConditionPoint
  }">
  </ac-point-primitive-desc>
  <ac-polygon-desc props="{
    hierarchy: plane.hierarchy,
    extrudedHeight: plane.extrudedHeight,
    material: plane.materialPolygon,
    closeTop: plane.closeTop,
    closeBottom: plane.closeBottom
  }"></ac-polygon-desc>
  <ac-polyline-desc props="{
    positions: plane.positions,
    width: plane.width,
    material: plane.materialPolyline
  }"></ac-polyline-desc>
</ac-layer>
